body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


*
{
  font-size:36px;
  font-family: 'Martel', serif;
}

button, 
div {
  margin: 2vw;
}

iframe {
  width: 90vw;
  margin: 0;
  border: 0; 
  height: 500vh;
  overflow: hidden;
}